* {
    box-sizing: border-box;
    font-family: EXO, sans-serif;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear {
    clear: both;
}




/********************Section One*************************/

















/***************End Section One*****************************/

/**************Section Two**********************************/
/***************End Section Two*****************************/


/**************Section Three**********************************/
/***************End Section Three*****************************/


/**************Section Four**********************************/
/***************End Section Four*****************************/


/**************Section Five**********************************/
/***************End Section Five*****************************/


/**************Section Six**********************************/
/***************End Section Six*****************************/


/**************Section Seven**********************************/
/***************End Section Seven*****************************/
