/*****************************************General***********************************************/
html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo", sans-serif;
}

.container {
    width: 60%;
    margin: auto;
    
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear {
    clear: both;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
}


.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3px;
}

.column-gap-2 {
    column-gap: 2%;
}

.justify-content-center {
    justify-content: center;
}

.text-align-left {
    text-align: left;
}

.text-style-bold {
    font-weight: bold;
}

/****************************************************************************************/

/******************************************Start Navbar**********************************************/
.navbar {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3333;
    padding: 0.5%;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 1%;
}

.logo span {
    color: #FF6900;
}

.logo h3 {
    font-size: 25px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.links {
    cursor: pointer;
}

li {
    color: black;
    transition: color 0.1s;
}

li:hover {
    color: #FF7A50;
}

.links {
    font-size: 13px;
    font-weight: bold;
    flex-basis: 50%;
    padding-top: 1%;
    margin-left: 5%;
    background-color: transparent;
}

.links i {
    font-size: 13px;
    color: #D1D5DC;
}

.subscribebtn {
    background-color: transparent;
    flex-basis: 15%;
    text-align: center;
    padding-top: 0.2%;

}


.subscribebtn button {
    background-color: #FFD15B;
    font-weight: bold;
    text-align: center;
    padding: 5%;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 13px;
    cursor: pointer;
    transition: transform 0.1s;
}

.subscribebtn button:hover {
    transform: translate(4px,2px);
}

/***********************************************End Navbar************************************/

/**********************************************Start Section One******************************/
.sectionOne {
  background-color: #fff085;
  border: 1px solid black;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

.container1 {
    margin-top: 7%;
    display: flex;
    column-gap: 1%;
}

.content1 {
    flex-basis: 60%;
}

.ribbon1one p{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 5px 5px black;
    padding: 1%;
    display: inline-block;
    transform-origin: top left;
    transform: rotate(-3deg);

}

.title1 h1 {
    line-height: 1.2;
    font-size: 70px;
    text-shadow: 3px 3px black;
    font-weight: 900;
    margin-top: 3%;
}

.red {
  color: #e7000b;
}

.blue {
  color: #155dfc;
}

.description1 {
    margin-top: 5%;
    margin-right: 20%;
    box-shadow: 5px 5px black;
}

.description1 p {
    border: 1px solid black;
    font-size: 23px;
    padding: 3%;
    font-weight: 500;
    background-color: white;
}

.btns1 {
    margin-top: 5%;
    display: flex;
    column-gap: 5%;
}

.btns1 .material-icons {
    font-size: 25px;
}

.btns1 button{
    font-size: 18px;
    font-weight: 650;
    margin-bottom: 5%;
    padding: 2%;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: tranform 0.1s;
}

.btns1 button:hover {
    transform: translate(5px,5px);
    box-shadow: none;
}

.blackbtn {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.whitebtn {
    margin-left: 0;
    display: flex;
    align-items: center;
    column-gap: 5px;
}



.image1 {
    flex-basis: 40%;
    margin-top: 5.5%;
    position: relative;
    transition: transform 0.1s;
}


.image1 img {
    width: 100%;
    border: 2px black solid;
    box-shadow: 5px 5px black;
    transform-origin: top right;
    transform: rotate(3deg);
    
}

.image1:hover {
   transform: translate(-3px, -3px)
}

.ribbon1two P {
    position: absolute;
    background-color: #FB2C36;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid black;
    box-shadow: 5px 5px black;
    transform-origin: top left;
    transform: rotate(5deg);
    padding: 2%;
    margin-top: -108%;
    margin-left: 80%;
}


/*******************************************End Section One***************************************/

/******************************************Start Section Two**************************************/
.sectionTwo {
  border: 1px solid black;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

.container2 {
    margin-top: 5%;
    display: flex;
    column-gap: 3%;
    justify-content: space-between;
}

.title2 {
    display: flex;
    justify-content: space-between;
}

.title2 h2 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 5%;
}


.ribbon2 p {
    font-weight: 600;
    font-size: 15px;
    background-color: black;
    color: white;
    display: inline-block;
    box-shadow: 5px 5px black;
    padding: 10px;
    transform-origin: top left;
    transform: rotate(3deg);
}

.allcards2 {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

}

.card2one {
    display: flex;
    column-gap: 3%;
    border: 2px solid black;
    padding: 3%;
    box-shadow: 5px 5px black;
    position: relative;
    transition: transform 0.1s;
}

.card2one:hover {
   transform: translate(-5px, -5px);
   box-shadow: 6px 6px black;;
   
}

.card2one h3:hover {
  color: #E7000B;
}

.imgbox1 {
    position: absolute;
    margin-left: -7%;
    margin-top: -7%;
    transform-origin: top left;
    transform: rotate(7deg);
}

.imgbox1 p {
    background-color: #FB2C36;
    padding: 3px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: 3px 3px black;
}

.ribbon2one {
    margin-bottom: 2%;
}

.ribbon2one p {
    display: inline-block;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    background-color: #FFDF20;
    transform: rotate(-3deg);
    font-size: 12px;
    padding: 1%;
    font-weight: 800;
}

.description2 {
    line-height: 1.8;
    font-size: 18px;
}


.card2one  img {
    width: 20%;
    height: 20%;
    border: 2px solid black;
    margin-top: 1%;

}

.icons2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 3%;
    font-weight: 600;
    font-size: 13px;
}

/*******************card2****************************/
.card2two h3:hover {
    color: #155DFC;
}

.ribbon2two p{
    background-color: #7BF1A8;
    transform: rotate(3deg);
}

.imgbox2 {
    transform-origin: top left;
    transform: rotate(-7deg);
}

.imgbox2 p {
    background-color: #2B7FFF;
}

/****************************************************/

/*******************card3***************************/
.card2three h3:hover {
    color: #9810FA;
}

.ribbon2three p {
    background-color: #FDA5D5;
}

.imgbox3 {
    transform-origin: top left;
    transform: rotate(45deg);
    margin-left: -5%;
}

.imgbox3 p {
    background-color: #AD46FF;
}
/***************************************************/

.loadbtn {
    margin-top: 7%;
    padding-bottom: 10%;
}

.loadbtn button {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 3%;
    box-shadow: 5px 5px black;
    transition: transform 0.1s;
    cursor: pointer;
    margin-left: 35%;
    transition: transform 0.2s;
}

.loadbtn button:hover {
    transform: translate(5px,5px);
    box-shadow: none;
}
/**************************************************/

.content2two {
    flex-basis: 70%;
}

.boxes2 {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.box2one {
    border: 2px solid black;
    padding: 30px;
    box-shadow: 5px 5px black;
    
}

.heading2 h2 {
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 10%;
}


.headings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
    font-size: 35px;
    font-weight: 900;
}

.heads {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 35px;
    margin-top: 2%;
    cursor: pointer;
   
}

.heads h3 {
    font-size: 17px;
}

.heads p {
    line-height: 1.8;
    color: #666666;
}

.numberone {
    color: #E7000B;
}

.numbertwo {
    color: #155DFC;
}

.numberthree {
    color: #9810FA;
}

.heads .head1 h3:hover {
    color: #E7000B;
}

.heads .head2 h3:hover {
    color:  #155DFC;;
}

.heads .head3 h3:hover {
    color: #9810FA;
}

/*********************************box 2********************************/
.box2two {
    border: 2px solid black;
    padding: 30px;
    box-shadow: 5px 5px black;
}

.headers2 {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.headers2 p{
    border: 2px solid black;
    padding: 3%;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.1s;
}

.headers2 p:hover {
    transform: translate(-5px,-5px);
    box-shadow: 5px 5px black;
}

.pone {
    background-color: #ffde2065;
}

.pone:hover {
    background-color: #FFDF20;
}

.ptwo {
    background-color: #DBFCE7;
}

.ptwo:hover {
    background-color: #7BF1A8;
}

.pthree {
    background-color: #FCE7F3;
}

.pthree:hover {
    background-color: #FDA5D5;
}


.pfour {
    background-color: #DBEAFE;
}

.pfour:hover {
    background-color: #8EC5FF;
}

.pfive {
    background-color: #F3E8FF;
}

.pfive:hover {
    background-color: #DAB2FF;
}



/*******************************************End Section Two***************************************/

/*******************************************Start Section Three**********************************/
.sectionThree {
    background-color: #FFD230;
    border: 1px solid black;
    margin-right: 0.5%;
    margin-left: 0.5%;
    padding-bottom: 5%;
}

.title3 {
    margin-top: 7%;
    text-align: center;
    
}

.title3 h2 {
    font-weight: 900;
    font-size: 40px;
}

.title3 p {
    color: #525246;
    line-height: 1.8;
    font-weight: 650;
    font-size: 20px;
    padding-bottom: 15px;
}

.title3 .line {
    width: 135px;
    height: 5px;
    background-color: black;
    margin: auto;
}

.all-cards3 {
    display: flex;
    justify-content: space-between;
    column-gap: 5%;
    margin-top: 7%;

}

.card3one {
    border: 2px solid black;
    padding: 2%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    box-shadow: 5px 5px black;
    background-color: #FEF9C2;
    position: relative;
    transition: transform 0.2s;
}

.card3one:hover {
    transform: translate(-3px, -3px)
}

.ribbon3{
    position: absolute;
    border: 2px solid black;
    background-color: #FB2C36;
    color: white;
    font-weight: bold;
    font-size: 13px;
    padding: 1%;
    display: inline-block;
    margin-left: 69%;
    transform-origin: top left;
    transform: rotate(20deg);

}

.card3one .image3 img {
    width: 45%;
    border: 3px solid black; 
}

.card3one .heading3 h3{
    font-size: 30px;
    font-weight: 900;
}

.card3one .heading3 h3:hover {
    color: #E7000B;
}

.card3one .heading3 p {
    color: #525246;
    font-weight: 650;
    font-size: 15px;
    line-height: 1.9;
}

.card3one .socialmedia-icons3 {
    display: flex;
    justify-content: center;
    column-gap: 10%;
    margin-top: 3%;
}

.socialmedia-icons3 .fa {
    background-color: black;
    color: white;
    font-size: 23px;
    padding: 3%;
    transition: transform 0.3s;
    cursor: pointer;
}

.socialmedia-icons3 .fa:hover {
    transform: translate(-4px,-4px);
    box-shadow: 7px 7px black;
}

#twitter:hover {
    background-color: #1DA1F2;
}

#linkedin:hover {
    background-color: #155DFC;
}

#instagram:hover {
    background-color: #E60076;
}

/*************************card2******************/
.card3two {
    background-color: #DBFCE7;
}

.card3two .ribbon3two {
    background-color: #2B7FFF;
    transform: rotate(-20deg);
    margin-top: 5%;
}

.card3two .heading3two h3:hover{
    color: #155DFC;
}

/**********************card3***********************/
.card3three {
    background-color: #FCE7F3;
}

.card3three .ribbon3three {
    background-color: #AD46FF;
    transform: rotate(50deg);
    margin-top: 1%;
    margin-left: 76%;
}

.card3three .heading3three h3:hover{
    color: #9810FA;
}

/*******************************************End Section Three***************************************/

/*******************************************Start Section Four**************************************/
.sectionFour {
    border: 1px solid black;
    margin-right: 0.5%;
    margin-left: 0.5%;
    padding-bottom: 5%;
}

.content4 {
    display: flex;
    column-gap: 5%;
    margin-top: 5%;
}

.content4one {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-top: 2%;
}

.content4one .head4 h3 {
    font-size: 35px;
    font-weight: 900;
}

.content4one .description4  {
    border: 2px solid black;
    box-shadow: 3px 3px black;
}

.content4one .description4 p {
    padding: 2%;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.8;
}


.headlines4 {
    display: flex;
    column-gap: 2%;
}

.headlines4 .headline4 {
    display: flex;
    flex-direction: column;
    font-weight: 650;
    font-size: 18px;
    row-gap: 40px;
    padding-top: 10px;
}

.icons4 {
    display: flex;
    flex-direction: column;
    color: white;
    row-gap: 20px;
   
}

.icons4 i {
   border: 2px solid black;
   padding: 5px;
   font-size: 30px;
}

.icons4 .right {
    background-color: #FB2C36;
}

.icons4 img {
    width: 45px;
    background-color: #2B7FFF;
    border: 2px solid black;
    padding: 3px;
    
}

.icons4 .star {
    background-color: #AD46FF;
}

.icons4 .pen {
    background-color: #00C951;
}

.btn4 {
    margin-left: 20%;
    margin-top: 5%;
}

.btn4 button{
    font-size: 25px;
    font-weight: 650;
    margin-bottom: 5%;
    padding: 2%;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: tranform 0.1s;
}

.btn4 button:hover {
    transform: translate(5px,5px);
    box-shadow: none;
}

/*******************************************************************/

.content4two {
    flex-basis: 130%;
    border: 2px solid black;
    box-shadow: 5px 5px black;
}

.content4two .head4 h3 {
    font-weight: 900;
    font-size: 25px;
    padding: 5%;
}

.comments4 {
    display: flex;
    flex-direction: column;
    padding: 5%;
    row-gap: 15px;
}

.comment4one {
    padding: 3%;
    border: 2px solid black;
    line-height: 1.8;
    font-weight: 600;
    font-size: 17px;
    background-color: #FEF2F2;
}

.comment4one .name4 .image4 {
    width: 13%;
}

.comment4one .name4 img {
    width: 100%;
    border: 2px solid black;
}

.comment4one .name4 {
    display: flex;
    margin-top: 5%;
    align-items: center;
    column-gap: 3%;
}


.comment4one .name4 .txt4 h4 {
    font-size: 18px;

}

.comment4one .name4 .txt4 p {
    font-size: 15px;
    color: #525252;
}

/********************************************************************/
.comment4two {
    background-color: #EFF6FF;
}
/********************************************************************/
.comment4three {
    background-color: #FAF5FF;
}

/*******************************************End Section Four***************************************/

/******************************************Start Section Five**************************************/
.sectionFive {
    background-color: black;
    color: white;
}

.container5 {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    column-gap: 5%;

}

.head5 {
    display: flex;
    align-items: center;
    column-gap: 3%;
}

.image5 {
    width: 10%;
    background-color: white;
}

.image5 img {
    padding: 10px;
}

.box5one p {
    padding-top: 5%;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 500;
}


.box5two .cat5{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

.box5two .cat5 p {
    font-weight: bold;
    cursor: pointer;
}

.box5two .cat5 p:hover {
    color: #FFD81C;
}

.box5three {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    
}

.box5three p {
    margin-top: 9px;
}

.box5three input {
    margin-top: 5%;
    padding: 15px;
    font-size: 18px;
    color: #97999C;
    border: 2px solid white;
    background-color: black;
}

.box5three input:hover {
    border: 2px solid #FFD81C;
    font-weight: 900;
    color: white;
}

.box5three button {
    margin-top: 5%;
    background-color: #FFD81C;
    font-weight: 650;
    padding: 15px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.1s;
}

.box5three button:hover {
    transform: translate(5px,5px);
    background-color: #FDC700;
}

/******************************************************************************/

.container6 {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    border-top: 5px solid white;
    padding-top: 30px;
    padding-bottom: 5%;
}

.start6 {
    font-weight: bold;
    font-size: 17px;
}

.end6 {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 30px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.end6 p:hover {
    color:  #FFD81C;
}
/*******************************************End Section Five***************************************/

