* {
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
  /* border: 1px solid red;*/
  box-sizing: border-box;
}

.red {
  color: #e7000b;
}

.blue {
  color: #155dfc;
}

.purple {
  color: #cb89ff;
}

.fireicon {
  color: #fc8d3a;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clear {
  clear: both;
}

/***************************************************START SECTION ONE***********************************/

.sectionOne {
  background-color: #fff085;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 3px solid black;
}

.container1 {
  /* background-color: bisque; */
  width: 60%;
  margin: auto;
  padding-top: 10%;
}

.box1 {
  display: inline-flex;
  padding: 1%;
  background-color: black;
  color: white;
  border: 1px solid black;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  box-shadow: 3px 3px black;

  transform-origin: top right;
  transform: rotate(-2deg);
}

.content1 {
  margin-top: 2%;
}

.heading h1 {
  font-weight: 900px;
  font-size: 70;
  text-shadow: 2px 2px black;
}

.description1 {
  box-shadow: 3px 3px black;
  border: 2px solid black;
  display: inline-block;
  background-color: white;
  padding: 1%;
  font-size: 25px;
  font-weight: 500;
  width: 50%;
}

.buttons {
  margin-top: 2%;
}

.btn1 {
  font-size: 23;
  background-color: black;
  color: white;
  padding: 2%;
  text-align: center;
  cursor: pointer;
  font-weight: 800;
  border: 3px solid black;
}

.buttons .material-icons {
  font-size: 22px;
}

.btn2 {
  font-size: 23;
  background-color: white;
  color: black;
  padding: 2%;
  text-align: center;
  cursor: pointer;
  font-weight: 800;
  margin: 2%;
  border: 3px solid black;
}

.imgbox {
  width: 40%;
  height: 45%;
  border: 5px solid black;
  background-image: url(../img/content-photo.png);
  background-size: cover;
  margin-top: 2%;
  position: relative;
  box-shadow: 5px 5px black;

  transform-origin: top right;
  transform: rotate(2deg);
}

.imgsquare p {
  position: absolute;
  border: 1px solid black;
  background-color: #e7000b;
  color: white;
  font-weight: 700;
  font-size: 15;
  padding: 0.5%;
  display: inline-block;
  margin-left: 55%;
  box-shadow: 3px 3px black;
  transform-origin: top right;
  transform: rotate(5deg);
}
/***************************************************END SECTION ONE***********************************/

/***************************************************START SECTION TWO***********************************/
.sectionTwo {
  background-color: #f5f5f5;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.container2 {
  background-color: transparent;
  width: 60%;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 2%;
  display: flex;
  flex-wrap: nowrap;
  gap: 3%;
}

.all-cards {
  background-color: transparent;
  width: 65%;
  margin-top: 2%;
}

.all-cards h2 {
  margin-bottom: 5%;
  font-size: 30;
  font-weight: 900;
}

.cardone {
  border: 3px solid black;
  padding: 5%;
  background-color: #ffffff;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  box-shadow: 5px 5px black;
}

.cardone .imgone img {
  width: 90%;
  border: 1px solid black;
  position: relative;
}

.imgsquare1 p {
  position: absolute;
  border: 1px solid black;
  background-color: #e7000b;
  color: white;
  font-weight: 500;
  font-size: 10;
  padding: 0.5%;
  display: inline-block;
  margin-left: 18%;
  z-index: 111;
  transform-origin: top right;
  transform: rotate(5deg);
}

.description .des-content h3{
    padding-left: 0;
}
.description .des-content{
  
  flex-basis: 300%;
  line-height: 1.8;
  padding-top: 3%;
  padding-bottom: 2%;
  background-color: aquamarine;
}

.description .des-box p {
  position: absolute;
  border: 1px solid black;
  background-color: #ffdf20;
  color: black;
  font-weight: 500;
  font-size: 10;
  padding: 0.5%;
  display: inline-block;
  margin-top: -5%;
  box-shadow: 3px 3px black;
  z-index: 111;
  transform-origin: top right;
  transform: rotate(-2deg);
}

.icons {
  padding-top: 3%;
}

.des-icon1 {
  display: inline-flex;
  padding: 1%;
  background-color: transparent;
  color: black;
  text-align: center;
  font-weight: 500;
  background-color: transparent;
}

.icons .des-icon1 p {
  font-size: 11;
}

.person {
  font-size: 15;
}


/************************************card 2**********************/
.card2 {
  margin-top: 5%;
}

.imgtwo img {
  width: 85%;
  height: 60%;
  border: 1px solid black;
  position: relative;
}

.imgsquare2 p {
  position: absolute;
  border: 1px solid black;
  background-color: #2b7fff;
  color: white;
  font-weight: 500;
  font-size: 10;
  padding: 0.5%;
  display: inline-block;
  margin-left: 17%;
  margin-top: -1%;
  z-index: 111;
  transform-origin: top right;
  transform: rotate(-10deg);
}

.des2 {
  flex-basis: 200%;
}

.des-box2 p {
  position: absolute;
  border: 1px solid black;
  background-color: #7bf1a8;
  color: black;
  font-weight: 700;
  font-size: 10;
  padding: 0.5%;
  display: inline-block;
  margin-top: -4%;
  box-shadow: 3px 3px black;
  z-index: 111;
  transform-origin: top right;
  transform: rotate(2deg);
}

/**************************************************card 3*********************************/

.imgthree img {
  width: 85%;
  height: 60%;
  border: 1px solid black;
  position: relative;
}

.imgsquare3 p {
  position: absolute;
  border: 1px solid black;
  background-color: #ad46ff;
  color: white;
  font-weight: 500;
  font-size: 10;
  padding: 0.5%;
  display: inline-block;
  margin-left: 16%;
  margin-top: 2%;
  z-index: 111;
  transform-origin: top right;
  transform: rotate(35deg);
}

.des3 {
  flex-basis: 250%;
}

.des-box3 p {
  position: absolute;
  border: 1px solid black;
  background-color: #fda5d5;
  color: black;
  font-weight: 700;
  font-size: 10;
  padding: 0.5%;
  display: inline-block;
  margin-top: -4%;
  box-shadow: 3px 3px black;
  z-index: 111;
  transform-origin: top right;
  transform: rotate(-2deg);
}

.loadbtn button {
  font-size: 15;
  background-color: black;
  color: white;
  padding: 2%;
  text-align: center;
  cursor: pointer;
  font-weight: 800;
  border: 3px solid black;
  margin-left: 35%;
  margin-top: 5%;
}

.loadbtn span {
  font-size: 17;
}

/******************************content 2/2*********************/


.boxes {
  background-color: palegreen;
  width: 35%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.boxone {
  border: 3px solid black;
  box-shadow: 5px 5px black;
  /* position: sticky;
    top: 1px;*/
}

.boxone h2 {
  font-size: 25;
  font-weight: 900;
  padding-top: 6%;
  padding-left: 5%;
}

.titles {
  padding: 5%;
  display: flex;

  line-height: 2.2;
  font-size: 15;
}

.title1 h3{
    font-size: 15;
   
    
}

.title1 p{
    font-size: 15;
   
    
}

.boxone .titles .numbers {
  line-height: 1.8;
  font-size: 25;
  
}

/*.boxtwo {
    position: sticky;
    top: 10px;
}*/

.categories {
  padding: 5%;
  font-size: 15;
  font-weight: 800;
}

.cat {
  line-height: 2.5;
  border: 1px solid black;
  margin: 1%;
  margin-bottom: 3%;
  padding-left: 3%;
}

.first {
  background-color: #fef9c2;
}

.second {
  background-color: #7bf1a8;
}

.third {
  background-color: #fda5d5;
}

.forth {
  background-color: #dbeafe;
}

.fifth {
  background-color: #dab2ff;
}


/***************************************************END SECTION TWO***********************************/

/***************************************************START SECTION THREE*******************************/
.sectionThree {
  background-color: #ffd230;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 3px solid black;
}

.container3 {
  background-color: transparent;
  width: 60%;
  margin: auto;
  padding-top: 3%;
  position: relative;
}

.title3 {
  text-align: center;
  line-height: 1.8;
}

.title3 p {
  color: #62645c;
  font-weight: 700;
}

.title3 h2 {
  font-size: 40;
  font-weight: 900;
}

.cardsthree::before {
  content: " ";
  width: 9%;
  height: 1%;
  background-color: black;
  position: absolute;
  margin-top: -3%;
  margin-left: 45.4%;
}

.cardsthree {
  margin-top: 5%;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 3%;
  align-content: space-evenly;
  background-color: transparent;
  padding-bottom: 7%;
}

.cardthree {
  text-align: center;
  border: 3px solid black;
  padding: 3%;
  box-shadow: 5px 5px black;
}

.cardthree img {
  width: 40%;
  border: 3px solid black;
}

.cardthree h3 {
  line-height: 1.8;
  font-weight: 900;
  font-size: 25;
}

.cardthree p {
  font-size: 15;
}

.gray {
  font-weight: 700;
  color: #62645c;
}

.iconsthree {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: space-evenly;

  margin-top: 10%;
}

.iconsthree img {
  width: 50%;
  padding: 10%;
  background-color: white;
}

.cafe {
  background-color: #fef9c2;
  position: relative;
}

.threeblue {
  background-color: #dbfce7;
  position: relative;
}

.threepurple {
  background-color: #fce7f3;
  position: relative;
}

.boxthree1 p {
  position: absolute;
  border: 2px solid black;
  background-color: #e7000b;
  color: white;
  font-weight: 500;
  font-size: 12;
  padding: 1%;
  display: inline-block;
  margin-left: 25%;

  z-index: 111;

  transform-origin: top right;
  transform: rotate(10deg);
}

.boxthree2 p {
  position: absolute;
  border: 2px solid black;
  background-color: #2b7fff;
  color: white;
  font-weight: 500;
  font-size: 12;
  padding: 1%;
  display: inline-block;
  margin-left: 25%;
  margin-top: -5%;

  z-index: 111;

  transform-origin: top right;
  transform: rotate(-20deg);
}

.boxthree3 p {
  position: absolute;
  border: 2px solid black;
  background-color: #ad46ff;
  color: white;
  font-weight: 500;
  font-size: 12;
  padding: 1%;
  display: inline-block;
  margin-left: 25%;

  z-index: 111;

  transform-origin: top right;
  transform: rotate(35deg);
}
/***************************************************END SECTION THREE********************************/

/***************************************************START SECTION FOUR********************************/
.sectionFour {
  background-color: transparent;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 3px solid black;
}

.container4 {
  background-color: transparent;
  width: 60%;
  margin: auto;
  padding-top: 3%;
}

.four::before {
  content: " ";
  width: 9%;
  height: 1%;
  background-color: black;
  position: absolute;
  margin-top: -4%;
  margin-left: 45.4%;
}

.four {
  position: relative;
  display: flex;
  column-gap: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.fourOne {
  background-color: transparent;
  padding-top: 3%;
}

.fourOne h2 {
  font-size: 30;
  font-weight: 900;
}

.fourOne .fourcon p {
  display: inline-block;
  border: 1px solid black;
  background-color: white;
  font-weight: 600;
  line-height: 1.8;
  padding: 2%;
  font-size: 18;
  margin-top: 5%;
  box-shadow: 3px 3px black;
}

.fourtitles {
  margin-top: 5%;
}

.fourtitles .title4 img {
  width: 8%;
  padding: 1.5%;
  border: 1px solid black;
}

.title4 {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 2%;
  font-weight: 600;
  font-size: 15;
  padding: 1%;
  line-height: 3;
}

.img1four {
  background-color: #fb2c36;
}

.img2four {
  background-color: #2b7fff;
}

.img3four {
  background-color: #ad46ff;
}

.img4four {
  background-color: #00c951;
}

.btn4 {
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 23;
  background-color: black;
  color: white;
  padding: 2%;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  border: 3px solid black;
}

.fourTwo {
  background-color: transparent;
  flex-basis: 150%;
  border: 3px solid black;
  box-shadow: 5px 5px black;
}

.fourTwo h2 {
  padding: 5%;
}

.all-cards4 {
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 7%;
}

.card4 {
  padding: 4%;
  font-size: 17;
  font-weight: 600;
  margin-top: 1%;
  border: 1px solid black;
  margin-bottom: 2%;
}

.person4 p {
  font-size: 15;
  font-weight: 500;
  color: gray;
}

.person4 p,
h3 {
  padding-left: 15%;
}

.person4 img {
  width: 10%;
  border: 1px solid black;
}

.four1 {
  background-color: #fef2f2;
}

.four2 {
  background-color: #eff6ff;
}

.four3 {
  background-color: #faf5ff;
}

/***************************************************END SECTION FOUR********************************/

/***************************************************START SECTION FIVE********************************/
.sectionFive {
  background-color: #000000;
}

.container5 {
  background-color: transparent;
  width: 60%;
  margin: auto;
  padding-top: 3%;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 5%;
  align-content: space-between;
}
.fiveone {
  background-color: transparent;
  line-height: 1.5;
  color: white;
  flex-basis: 70%;
  padding-top: 3%;
}

.fiveone p {
  font-size: 17;
  font-weight: 500;
}

.fiveone h2 {
  padding-top: 1.5%;
  padding-left: 12.5%;
  font-weight: 900;
  padding-bottom: 3%;
}

.fiveone img {
  width: 10%;
  border: 1px solid white;
  padding: 2.5%;
  background-color: white;
}

.fivetwo {
  background-color: transparent;
  line-height: 2.5;
  flex-basis: 20%;
  color: white;
}

.fivetwo h3 {
  padding: 0;
  padding-bottom: 4%;
  font-weight: 900;
}

.fivetwo p {
  font-weight: 600;
}

.fivethree {
  background-color: transparent;
  line-height: 1.5;
  flex-basis: 65%;
  color: white;
  padding-bottom: 5%;
}

.fivethree h3 {
  padding: 1%;
  padding-bottom: 7%;
  font-weight: 900;
}

.fivethree input {
  width: 100%;
  font-size: 17;
  padding: 2%;
  border: 1px solid white;
}

.fivethree button {
  width: 100%;
  padding: 3%;
  margin-top: 3%;
  background-color: #fdc700;
  font-size: 15;
  font-weight: 700;
}

.container6 {
  color: white;
  width: 60%;
  margin: auto;
  border-top: 3px solid white;
  display: flex;
  padding-top: 1%;
  column-gap: 10%;
  align-content: space-between;
  padding-bottom: 2%;
}

.sixtwo {
  background-color: transparent;
  display: flex;
  align-content: space-evenly;
  flex-basis: 50%;
  column-gap: 10%;
  padding-left: 11%;
}
/***************************************************END SECTION FIVE********************************/
